
/* ----------------------------------------------------
	 General styles
------------------------------------------------------- */


body {
	background-color: white;
	background-image: url(../img/bg.jpg);
	background-position: left top;
	background-repeat: repeat;
	-webkit-font-smoothing: antialiased;
}

a {
    color: lightseagreen;
	text-decoration: none;
	-webkit-transition: all .35s; 
	transition: all .35s;
}

a:hover {
	color: #dadada;	
	text-decoration: underline;
}


.wrapper {
  background: white;
  margin: 70px auto;
  width: 90%;
  max-width: 1250px;
  overflow: hidden;
  border: 6px solid #eaeaea;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


img {
	max-width: 100%;	
	height: auto;
}


p {
	font-size: 1.1em;
    font-family: 'Oxygen', sans-serif;	
	color: #333;
	line-height: 1.7em;
	margin-top: 14px;
	margin-bottom: 20px;	
}


h1 {
    font-family: 'Qwigley', Helvetica, Sans-serif;	   
    font-size: 4em;
	font-weight: 600;
    color: #4f4d47;
	margin-top: 50px;
	margin-bottom: 0;
	text-align: center;
	line-height: 1.7em;
}

h2 {	
	font-family: 'Qwigley', Helvetica, Sans-serif;	   
    font-size: 3em;
	font-weight: 400;
	color: #898989;
	margin-top: 40px;
	margin-bottom: 34px;
	text-align: center;
	line-height: 1.7em;
}


h3 {
    font-family: 'Oxygen', sans-serif;	
    font-size: 1.4em;
	font-weight: 600;
	color: #898989;
	margin-top: 16px;
	margin-bottom: 14px;
	text-align: left;
	line-height: 1.7em;
}


h4 {
	font-family: 'Oxygen', sans-serif;	
    font-size: 1.2em;
	font-weight: 400;
	color: #898989;
	margin-top: 16px;
	margin-bottom: 14px;
	text-align: left;
	text-decoration: underline;
	line-height: 1.7em;
}


.heading-inner {
    font-family: 'Qwigley', Helvetica, Sans-serif;	   
 
	font-weight: 600;
    color: #4f4d47;
	margin-top: 16px;
	margin-bottom: 0;
	text-align: center;

}


.hr {
	border-bottom: 2px solid #4f4d47;
	display: block;
	width: 24px;
	margin: auto;
	margin-bottom: 20px;
}


.media, .media-heading {
	font-size: 1em;
}

.media .text-primary {
    color: #4f4d47;
}

.media, p, .instructions-sublist, li {
	font-size: 16px;
    font-family: 'Oxygen', sans-serif;	
	color: #333;
	line-height: 1.7em;
	margin-top: 14px;
	margin-bottom: 20px;	
}


table {
	border-collapse: collapse;
	width: 100%;
	font-size: 16px;
    font-family: 'Oxygen', sans-serif;	
	color: #333;
  }

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }
  
tr:nth-child(even) {
	background-color: #dddddd;
}
td, th {
	border: 1px solid #333;
	padding: 8px;
  }

/* ----------------------------------------------------
	 Navigation and logo styles
------------------------------------------------------- */


.brand {
	display: none;
}

.navbar-default .navbar-brand {
    padding: 10px 12px 14px;
    text-align: center;
    font-family: 'Qwigley', Helvetica, Sans-serif;		
	font-size: 2.4em;
    line-height: normal;
    color: #4f4d47;
	text-transform: capitalize;
	margin-top: 38px;
}

.navbar-default .navbar-brand .title {
    display: block;
    padding: 10px 0 45px;
    text-align: center;
    font-size: 0.3em;
    font-weight: 400;
	color: #999999;
    text-transform: lowercase;
	font-family: 'Oxygen', sans-serif;	
}


.navbar-nav {
    text-transform: capitalize;
    font-weight: 400;
}

.navbar-default {
	background-color: transparent;
	border: none !important;
}

.navbar-toggle {
	border: none;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #eee;
    border-color: transparent;
}
.navbar-collapse {
	border: none!important;
}
@media screen and (min-width:768px) {

.brand {
    display: inherit;
    margin: 0;
    padding: 30px 0 14px;
    text-align: center;
    font-family: 'Qwigley', Helvetica, Sans-serif;
	font-size: 4.1em;
    line-height: normal;
    color: #4f4d47;
    text-transform: capitalize;
}


.brand .title {
    display: block;
    padding: 10px 0 27px;
    text-align: center;
    font-size: 0.2em;
    font-weight: 400;
	color: #999999;
    text-transform: lowercase;
	font-family: 'Oxygen', sans-serif;	
}

.navbar {
    border-radius: 0; 
    min-height: 0;
}


.navbar-header {
    display: none;
}

.navbar-default {
    border: none;
    background: #fff;
    margin-top: 7px;
	padding-bottom: 12px;
}
	
.navbar-default .navbar-nav>li>a {
	color: #898989;
	font-family: 'Oxygen', sans-serif;
	font-size: 1.1em;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #999999;
}

.nav>li>a {
    padding: 20px;
}

.navbar-nav>li>a {
    line-height: normal;
}

.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #4f4d47;
	background-color: transparent;
}

}


/* ----------------------------------------------------
	 Buttons styles
------------------------------------------------------- */


.btn {
	border-radius: 0px;
	text-decoration: none;
	padding: 12px 15px;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 400;
	letter-spacing: 0.2em;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	margin-bottom: 10px;
	margin-top: 10px;
}

.home-btn {
	color: #898989;
	background-color: transparent;
    border: 2px solid #dadada;
}

.home-btn:hover {
    color: #4f4d47;
	background-color: transparent;
	border-color: #4f4d47;	
}

.home1-btn {
	color: #898989;
	background-color: transparent;
    border: 2px solid #dadada;
	margin-top: 30px;
}

.home1-btn:hover {
    color: #4f4d47;
	background-color: transparent;
	border-color: #4f4d47;	
}


/* ----------------------------------------------------
	 Home page styles
------------------------------------------------------- */


.main-image {
	display: block;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	z-index:1;
	height: 100%;
	max-height: 450px;
	object-fit: scale-down;
	padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 0 7px #fff, 
                0 0 0 8px #000;
}


.box-home {
	color: #898989;
	font-family: 'Oxygen', sans-serif;
	font-size: 1.1em;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
	margin-top: 110px;
}

.box-home a {
    color: #e74c3c;
	font-family: 'Oxygen', sans-serif;
	font-size: 0.9em;
}


.box-home a:hover{
	color: #898989;
}


.photo-home {
	margin-top: 60px;
	margin-bottom: 30px;
	margin-left: 5px;
}

.text-left {
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
	color: #898989;
	margin-top: 16px;
	margin-bottom: 14px;
	text-align: left;
	line-height: 1.7em;
	display: inline;
	font-weight: 400;
}


.first .square {
    width: 200px;
    height: 200px;
    border: 15px solid white;
    position: absolute;
    top: 87px;
    right: 41px;
    z-index: 1;
}


/* ----------------------------------------------------
	 home page styles
------------------------------------------------------- */


.margin-about {
	margin-top: -32px;
}


.box-about {
	color: #898989;
	font-family: 'Oxygen', sans-serif;
	font-size: 1.1em;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
	margin-top: 68px;
}

.photo-about {
	margin-top: 59px;
	margin-bottom: 30px;
	margin-left: 5px;
}


.text-about {
    font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
    color: #4f4d47;
}


/* ----------------------------------------------------
	 recipe page styles
------------------------------------------------------- */


.margin-collection {
	margin-top: 30px;
}

.heading-c {
	font-family: 'Oxygen', sans-serif;
    font-size: 1em;
	font-weight: 400;
	color: #898989;
	margin-top: 16px;
	margin-bottom: 45px;
	text-align: center;
	line-height: 1.7em;
}


.recipe-filters{
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.recipe-filters > li {
  display: inline-block;
}

.recipe-filters > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  margin-right: 10px;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  outline: none;
  border-radius: 0;
  color: #898989;
  background-color: transparent;
  border: 1px solid #dadada;
  width: 250px;
}

.recipe-filters > li a:hover,
.recipe-filters > li a.active{
  color: #898989;
  background: #e0e0e0;
  border: 1px solid #dadada;
  box-shadow: none;
}

ul > li{
	font-size: 1.1em;
	line-height: 1.7em;
}

/* ----------------------------------------------------
	 resources page styles
------------------------------------------------------- */
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; margin-bottom: 35px; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* ----------------------------------------------------
	 Footer
------------------------------------------------------- */


.footer {
	color: #898989;
	font-family: 'Oxygen', sans-serif;
	font-size: 1.1em;
    border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
    margin-top: 54px;
	margin-bottom: 72px;
}


.footer h5 {
    font-size: 1em;
	font-weight: 400;
	color: #898989;
	margin-top: 18px;
	padding-bottom: 12px;
	text-align: center;
}


.footer h5 .icon1 {
	margin-left: 12px;
}



/* ----------------------------------------------------
	 Responsive styles
------------------------------------------------------- */


@media screen and (max-width:1280px) {

.box-home {
	margin-top: 97px;
}

.recipe-section , 
.recipe-filters {
  padding: 0;
}

}


@media screen and (max-width:1024px) {

.box-home {
	margin-top: 70px;
}

.photo-home {
	margin-top: 80px;
}

.recipe-filters {
  padding: 0;
}

#contact-area input.submit-button {
	margin-left: 0;
}

h6 {
	margin-left: 0;
}

.first .square {
  width: 150px;
  height: 150px;
  border: 15px solid white;
  position: absolute;
  top: 100px;
  right: 27px;
  z-index: 1;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 0.7em;
	color: white;
	text-align: center;
}


}


@media screen and (max-width:800px) {

.col-xs-offset-3, .col-xs-offset-1 {
	margin-left: 0;
}
	
.photo-home {
	margin-left: 0;
}

.photo-about {
	margin-left: 0;
}

.photo-contact {
	margin-left: 0;
}

.box-home {
	margin-top: 60px;
}

.recipe-filters,
.recipe-section {
  padding: 0;
}


.margin-about, .margin-collection, .margin-resume, .margin-news, .margin-contact {
	margin-top: 64px;
}

#contact-area input, #contact-area textarea {
	width: 70%;
}

#contact-area input.submit-button {
	margin-left: 118px;
}

h6 {
	margin-left: 116px;
}

.first .square {
	display: none;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 0.9em;
	color: white;
	text-align: center;
}


}


@media screen and (max-width:768px) {

.heading-services {
    font-size: 1.4em;
	font-weight: 600;
    color: #4f4d47;
	margin-top: 10px;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	line-height: 1.7em;
	margin: 0 auto;
	background-color: #dadada;
	padding: 15px;
	width: 90%;
}

.photo-services {
	margin-top: 13px;
	margin-bottom: 29px;
}

.margin-services p {
	margin-bottom: 44px;
}

.nav>li>a {
    padding: 14px;
}

}

@media screen and (max-width:600px) {

.navbar {
    border: none !important;
}

.navbar-toggle {
    margin-top: 78px;
	border: none;
}

.recipe-filters,
.recipe-section {
  padding: 0;
}

.heading-collections {
	margin-top: 42px;
}

.instructions-sublist, .recipe-lists{
	padding-left: 10px;
}

}


@media screen and (max-width:480px) {
	
h2 {
	padding-left: 40px;
	padding-right: 40px;
}



h6 {
	margin-left: 0;
}


}

@media screen and (max-width:480px) {

.grid figure p {
	display:  none;
}

.first-s .square {
	display: none;
}

.heading-services {
    font-size: 1.1em;
}

}
